<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\logs\AppLogs\vanilla-app-internal.log">

  <extensions>
    <add assembly="Elastic.CommonSchema.NLog"/>
  </extensions>

  <targets>

    <target name="jsonfile" xsi:type="File" fileName="C:\logs\AppLogs\vanilla-app-${windows-identity:domain=false}.log">
      <layout xsi:type="EcsLayout">
        <User Name="${windows-identity:userName=true}" Domain="${windows-identity:domain=true}" />
      </layout>
    </target>
    
    <!-- The console target is kept for immediate feedback during development. -->
    <target name="console" xsi:type="Console">
      <layout xsi:type="EcsLayout">
        <User Name="${windows-identity:userName=true}" Domain="${windows-identity:domain=true}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="jsonfile,console" />
  </rules>
</nlog>