<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off">

  <!-- This is a minimal configuration for running unit and integration tests. -->
  <!-- It sends all log output to a "black hole" so no log files are created. -->

  <targets>
    <!-- The Null target simply discards any log messages written to it. -->
    <target name="blackhole" xsi:type="Null" />
  </targets>

  <rules>
    <!-- Route all logs from all levels to the blackhole target. -->
    <logger name="*" minlevel="Trace" writeTo="blackhole" />
  </rules>
</nlog>