<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="C:\Logs\AppLogs\nlog-internal-static.log">

  <extensions>
    <add assembly="Elastic.CommonSchema.NLog"/>
  </extensions>

  <targets async="true">
    <target name="app-log-file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
      <target xsi:type="File"
              fileName="C:\Logs\AppLogs\User-${windows-identity:domain=false}\${shortdate}.log"
              concurrentWrites="true"
              keepFileOpen="false"
              archiveAboveSize="10485760"
              archiveNumbering="Rolling"
              maxArchiveFiles="5">

        <layout xsi:type="ecs-layout" />
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="app-log-file" />
  </rules>
</nlog>