<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ben.Demystifier" version="0.4.1" targetFramework="net462" />
  <package id="Elastic.Apm" version="1.18.0" targetFramework="net462" />
  <package id="Elastic.CommonSchema" version="8.6.0" targetFramework="net462" />
  <package id="Elastic.CommonSchema.NLog" version="8.6.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net462" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="2.0.2" targetFramework="net462" />
  <package id="NLog" version="4.7.15" targetFramework="net462" />
  <package id="NLog.WindowsEventLog" version="4.7.15" targetFramework="net462" />
  <package id="NLog.WindowsIdentity" version="4.7.15" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net462" />
  <package id="System.Diagnostics.EventLog" version="4.5.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net462" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net462" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net462" />
  <package id="System.Threading.Tasks.Dataflow" version="4.9.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>